:root {
  --flexoki-bg:      #100F0F;
  --flexoki-bg-2:    #1C1B1A;
  --flexoki-ui:      #282726;
  --flexoki-ui-2:    #343331;
  --flexoki-ui-3:    #403E3C;
  --flexoki-tx-3:    #575653;
  --flexoki-tx-2:    #878580;
  --flexoki-tx:      #CECDC3;

  --flexoki-red:     #D14D41;
  --flexoki-orange:  #DA702C;
  --flexoki-yellow:  #D0A215;
  --flexoki-green:   #879A39;
  --flexoki-cyan:    #3AA99F;
  --flexoki-blue:    #4385BE;
  --flexoki-purple:  #8B7EC8;
  --flexoki-magenta: #CE5D97;

  --sn-stylekit-info-color:                    var(--flexoki-cyan);
  --sn-stylekit-danger-color:                  var(--flexoki-red);
  --sn-stylekit-border-color:                  var(--flexoki-ui);
  --sn-stylekit-foreground-color:              var(--flexoki-tx);
  --sn-stylekit-success-color:                 var(--flexoki-green);
  --sn-stylekit-warning-color:                 var(--flexoki-orange);
  --sn-stylekit-background-color:              var(--flexoki-bg);
  --sn-stylekit-contrast-background-color:     var(--flexoki-bg-2);
  --sn-stylekit-secondary-background-color:    var(--flexoki-bg-2);
  --sn-stylekit-accessory-tint-color-1:        var(--flexoki-tx-2);
  --navigation-item-selected-background-color: var(--flexoki-bg);
}
